body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

button {
    border: none;
    background-color: transparent;
}

ul {
    list-style: none;
    padding: 0.5rem;
    padding-top: 1.2rem;
}

img {
    width: 15px;
    height: 15px;
}

li {
    padding-bottom: 1.3rem;
}

input[type="text"] {
    background: transparent;
    border-style: none;
    outline: none;
}

input[type="text"]::placeholder{
    color: #5088f6;
}

.container{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.top-nav {
    height: 7%;
    background-color: #0078d7;
}

.main-icon{
    width: 10%;
}

.menu-button{
    background: transparent;
    border-width: 0;
    width: 45px;
    height: 100%;

}

.menu-button:hover{
    background-color: #0056d7
}

.menu-icon {
    width: 22px;
    height: 22px;
    margin-top: 0%;
    margin-left: 0%;
}

.nav-text {
    color: white;
    font-size: 16px;
    margin-top: 16px;
    font-weight: 800;
    margin-left: 10px;
}

.search-box{
    margin-left: 24%;
    margin-top: 5px;
    width: 51%;
}

.search-box{
    background: #0078d7;
}

.search-input{
    height: 83%;
    width: 60%;
    border-radius: 3px;
    background-color: #c3dcf7;
    outline: none;
    border: none;
}

.sub-container{
    height: 80%;
}

.side-nav{
    transition: 0.3s;
    padding-top: 1.7rem;
    padding-left: 0.5rem;
    width: 4%;
    height: 112%;
    background-color: #f4f4f4;
    overflow: hidden;
}

.side-nav-open {
    width: 30%;
}
.side-nav-close {
   width: 4%;
}

.open-nav{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
}

.side-menu {
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
}

.d-flex {
    display: flex;
}

.category-name {
    padding-left: 0.5rem;
    font-size: 0.87rem;
    color: #34373d;
    display: none;
}

.category-name-show {
    display: block;
}

.category-name-hide {
    display: none;
}

div#new-task {
    padding-left: 0.5rem;
}

.c-3e69e4{
    color: #3e69e4;
}

#task-space {
    height: 117%;
    width: 100%;
}

.step-space {
    background-color: #f5f5f5;
    width: 0%;
    height: 117%;
}

.step-space-open {
    width: 45%;
}

.sub-task{
    margin-left: 10px;
    margin-top: 10px;
}